---
import Layout from '../../layouts/Layout.astro';
import Post from '../../components/Post.astro';
import { getCollection } from 'astro:content';


export const prerender = true

export async function getStaticPaths() {
  const allPosts = await getCollection("blog")
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    const sortedPosts = filteredPosts.sort((a, b) => Date.parse(b.data.pubDate.toString()) - Date.parse(a.data.pubDate.toString()));
    return {
      params: { tag },
      props: { posts: sortedPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag}>
  <div class = "flex flex-col gap-4">
      <p>found {posts.length} { posts.length == 1 ? "post" : "posts"} tagged with <b>{tag}</b></p>

      {posts.map(post => (
      <Post 
          name = {post.data.title}, 
          url={`/blog/${post.id}`}, 
          image={post.data.image?.url}, 
          description={post.data.description},
          date={(post.data.pubDate).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
              })},
          tags={post.data.tags}/>))}
  </div>
</Layout>