---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PreviewImage from "../components/PreviewImage.astro";
import Columns from "../components/Columns.astro";
import projects from '../data/projects.json';
---

<Layout title="home">
	<main>
		<p>i go by <b>phthallo</b> (<i>phay-low</i> or <i>thay-low</i>, i don't really mind) everywhere online. i am a 16 year old programmer and high school student from australia.</p>
		<p>read more about me <a href = "/about">here</a>, or see all of my projects <a href = "/projects">here</a>.</p>
		<PreviewImage image = "/paint.png" altText = "The map 'Paint' from the Celeste Strawberry Jam Collab."></PreviewImage>
		<h2>my projects</h2>
		<Columns>
				{projects.map(({ name, url, repo, description, tools }) => (
				<Card name = {name}, url={url}, repo={repo}, description={description}, tools={tools}/>))}
		</Columns>
		</div>
	</div>
	</main>
</Layout>

