---
import Layout from "../layouts/Layout.astro";
import Columns from "../components/Columns.astro";
import Card from "../components/Card.astro";
import projects from "../data/projects.json";
---

<Layout title="projects">
    <main>
        <h2>my projects</h2>
		<p>disclaimer 0: presented in no particular order</p>
		<p>disclaimer 1: extremely out of date! check my <a href = "https://github.com/phthallo">github</a> for more</p>
		<Columns>
				{projects.map(({ name, url, repo, image, description, tools }) => (
				<Card name = {name}, url={url}, repo={repo}, image={image} description={description}, tools={tools}/>))}
		</Columns>
		<p>you may also wish to view my occassional contributions to <a href = "https://github.com/pulls?q=is%3Apr+author%3Aphthallo+archived%3Afalse+">other open-source repositories</a>.</p>
    </main>
</Layout>
