---
interface Props {
    name: string;
    url: string;
    repo: string;
    image: string;
    description: string;
    tools: Array<any>;
}

const { name, url, repo, image, description, tools } = Astro.props;
---
<div class="relative flex flex-col overflow-auto rounded-lg bg-palette-900 lg:h-68">
    { image ? <img loading="lazy" class = "w-full h-36 object-cover" src = {image} alt={description}/> : null }
    <div class = "p-4 h-full flex flex-col">
        <a class="no-underline text-sm sm:text-base transition-all duration-300" href={url}>{name}</a>
        <span class="absolute right-4">
            <a class = "icon" href={repo} aria-label=`Visit the GitHub repository for ${name}`><i class="icon-github"></i></a>
            <a class = "icon" href={url} aria-label=`Visit the external site for ${name}`>
                <i class="icon-link"></i>
            </a>
        </span>

        <div class="grow">
            <p>{description}</p>
        </div>

        <div class="bottom-0 mt-auto">
            {
                tools.map((tools) => (
                    <span class="text-sm sm:text-base transition-all duration-300 my-1 ml-0 mr-2 inline-block max-h-8 rounded-lg bg-palette-600 p-1 font-bold text-palette-900">
                        <!-- prettier-ignore -->
                        <i class={`${tools.icon} mr-1`} />{tools.name}
                    </span>
                ))
            }
        </div>
    </div>
</div>


