---
import Layout from "../layouts/Layout.astro";
import PreviewImage from "../components/PreviewImage.astro";
import type { CollectionEntry } from 'astro:content';

interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---
<Layout title={post.data.title} ogImage=`open-graph/${post.id}.png` description={post.data.description}>
<div>
<span class = "italic flex flex-row justify-between">
    <b>{post.data.pubDate.toDateString()}</b> 
    
    <span>tags: { post.data.tags.map(tag => 
    <a class="mr-2" href = {`/tags/${tag}`}>{tag}</a>
    )}</span>
</span>
{post.data.image && <PreviewImage src = {post.data.image.url} altText = {post.data.image.alt}/> }
<span class = "italic text-center">
    {post.data.description}
</span>

<slot/>
</div>
</Layout>